<h1>Vehicle List Component</h1>
<div class="row" *ngIf="errorMessage">
    <div class="col-md-12">{{errorMessage}}</div>
</div>

<filterText (changed)="filterListComponentChanged($event)"></filterText>

<div class="row">
    <div *ngFor="let vehicle of filteredVehicles" class="list" [ngClass]="{ selected: selectedVehicle === vehicle }">
        <a href="" [routerLink]="['Vehicle', {id: vehicle.id}]" (click)="select(vehicle)">
            {{vehicle.name}}
        </a>
    </div>

    <nested *ngIf="selectedVehicle" [vehicle]="selectedVehicle"></nested>
</div>