<h1>Angular 2 First Look</h1>
<div class="row" *ngIf="errorMessage">
    <div class="col-md-12">{{errorMessage}}</div>
</div>
<div class="row">
    <div *ngFor="let vehicle of vehicles | async" class="list" [ngClass]="{ selected: selectedVehicle === vehicle }">
        <button (click)="select(vehicle)" class="dashboard-button">{{vehicle.name}}</button>
    </div>

    <nested *ngIf="selectedVehicle" [vehicle]="selectedVehicle"></nested>
</div>

<div class="row">{{transformMe | CustomPipe}}</div>