@model RestaurantEditViewModel

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<h1>Edit @Model.Name</h1>

<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
        @*@Html.EditorFor(m => m.Name)*@
    </div>

    <div>
        @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList<CuisineType>())
        <span asp-validation-for="Cuisine"></span>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
    <div>
        @Html.ActionLink("Home", "Index")
    </div>
</form>